<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Detalle del Usuario</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="container mt-5">

  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Detalles del usuario</h1>
      <p class="card-text"><strong>ID:</strong> <%= user.id %></p>
      <p class="card-text"><strong>Nombre:</strong> <%= user.user %></p>
  
      <a href="/users" class="btn btn-secondary">Volver</a>
    </div>
  </div>

 

</body>
</html>